source https://api.nuget.org/v3/index.json
framework: net6.0
storage:none
nuget FSharp.Core
nuget Microsoft.IdentityModel.JsonWebTokens 6.32.1
nuget TaskBuilder.fs
nuget Giraffe
nuget Thoth.Json.Net
nuget FSharp.Data
nuget Microsoft.AspNetCore.Session

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem