source https://api.nuget.org/v3/index.json
framework: net8.0
storage:none

nuget FSharp.Core
nuget Microsoft.IdentityModel.JsonWebTokens
nuget TaskBuilder.fs
nuget Giraffe
nuget Thoth.Json.Net
nuget FSharp.Data
nuget Microsoft.AspNetCore.Session
nuget Azure.Extensions.AspNetCore.Configuration.Secrets
nuget Azure.Identity

group Build
    source https://api.nuget.org/v3/index.json
    framework: net8.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem