#cart-product-list .products-catagories-area {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
}

.qtyButtons {
  border: 0;
  padding: 10px;
  font-size: 100%;
  font-family: inherit;
  cursor: pointer;
}

#quantityForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cart-main-content-wrapper {
  z-index: 100;
}

.flag {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.select-flag {
  all: unset;
  cursor: pointer;
}

.select-language-container {
  display: flex;
  padding-bottom: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.select-language-summary {
  color: #6b6b6b;
  line-height: 2.1;
  font-size: 16px;
  font-weight: 400;
  font-family: helveticaneuemedium;
}

details:not([open])>div {
  display: none;
}

.settings-container {
  background-color: #f8f9fa;
  border: 1px solid #F1EDF2;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

.settings-heading {
  padding: 0.5rem 10px 0.5rem 0;
  margin-bottom: 0;
}

.settings-row {
  padding-left: 10px;
  padding-right: 10px;
}


.settings-row:nth-child(odd) {
  background-color: #f8f9fa;
}

.settings-row:nth-child(even) {
  background-color: #F1EDF2;
}

@media (max-width: 600px) {
  .cart_product_img {
    display: none;
  }
}

.widget-settings {
  padding: 1em;
}

.widget-settings.btn {
  float: right;
}

.settings-view {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.settings-view input {
  margin-right: 6px;
}

.settings-view input[type="text"] {
  width: 100%;
}

.pay-frame-view {
  flex: 1;
  padding-top: 20px
}